footer {
  background: #f2f2f2;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 30%;
  position: static;
  bottom:1%
 
}
.footcnt {
  border-top: 1px solid #dadce0;

  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Poppins", sans-serif;
  padding: 0;
  height: 2em;
  width: 100%;
  color: black;
  box-shadow: 70px, 3px, 1px, black;
 

}
.fInfo{
  display: flex;
  border-top: 1px solid #dadce0;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
}
.fContact{
  display: flex;
  border-top: 1px solid #dadce0;
  bottom: 1em;
  width: 100%;
  justify-content: space-around;
  text-decoration: none;
  background:#f2f2f2;
}

