@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 #portfolio{

    background-image: url('../sample/OT11CI0.jpg');
    background-size:cover;
    
  }
  .card{
   
    height:90%;
    
    ;}
  

    
  .TarjetaPagina{
    opacity: 0;
    animation: sum_keyframes_aparecer_de_arriba 1.7s;
    -webkit-animation: sum_keyframes_aparecer_de_arriba 1.7s;
    animation-fill-mode: forwards;
    font-family: 'Open Sans', sans-serif;
   
}


  